
body{
    margin: 0;
}
/* Solution with h1 only */
h1{
    font-size: 72px;
    background-color: #381B2D;
    color:#fff;
    text-align: center;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Solution with header styled */

/* header{
    background-color: #281B2D;
    color:#fff;
    text-align: center;
    padding: 20px;
}
h1{
    font-size: 72px;
    margin: 0;
} */

.subhead{
    background-color: #281B2D;
    color: #FCD801;
    font-size: 48px;
    padding: 20px;
    /* border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #00C54C; */
    border-bottom: 5px solid #00C54C;
}
.white-text{
    color: aqua;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.columns{
    display: flex;
}
.main-content{
    width: 65%;
    margin-right: 5%;
}
.sidebar{
    width: 35%;
    background-color: #00C54C;
    padding: 15px;
}
.source{
    font-size: 15px;
}
.col-right{
    margin-left: 25px;
}
a{
    color: aqua;
}
a:hover{
    color: #FCD801;
}