/* 1rem = 16px */

html{
    font-size: 0.9rem;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /* font-size: 1.3125rem;21px; */
    font-weight: 300;
    margin: 0;
}


/* Initially must declare it */
img{
    max-width: 100%;
}

.container {
    /* padding: 0 2em; */
    /* or */
    width: 90%;
    max-width: 570px;
    margin: 0 auto;
}

h1,
h2 {
    font-weight: 300; 
}

h1 {
    font-size: 3.75rem;/* 60px */
    margin-top: 0;
}

h2 {
    font-size: 2.625rem;
    margin-top: 0;
    border-top: solid 1px #c4c4c4;
    border-bottom: solid 1px #c4c4c4;
    /* 2.625 x 16 = 42 */
    /* 20 / 42 */
    padding: .5em 0;
    margin-bottom: .5em;
}

h3 {
    font-size: 2.25rem; /* 36px */
    font-weight: 900;
    margin-bottom: 0;
}

.accent-text {
    display: block;
}

h1 .accent-text {
    font-size: 80px;
}

h2 .accent-text {
    font-size: 60px;
}

.accent-text,
.name,
time {
    font-weight: 900;
    color: #99D930;
}

p {
    margin-bottom: 0;
}

a {
    color: #99D930;
    font-weight: 900;
}

a:hover,
a:focus {
    color: #131313;
}

.small-text {
    font-size: 1rem; /* 16px */
    margin-top: .3125em; /*  5px */
} 

header,
section {
    padding: 6.25em 0; /* 100px 0 */
}

header{
    min-height: 100vh;
    display: flex;
}

.inverse {
    color: #fff;
    background: #252525;
}

.inverse .btn:hover,
.inverse .btn:focus {
    background: #fff;
    color: #252525;
}

.btn {
    display: inline-block;
    color: #252525;
    text-decoration: none;
    background: #99D930;
    padding: .625em 1.5625em;/* 10px 25px */
    margin-top: 1.5625em; /* 25px */
}

.btn:hover,
.btn:focus {
    background: #252525;
    color: #fff;
}

@media (min-width: 600px){
    html{
        font-size: 1.3125rem;/*21px;*/
    }
}

@media (min-width: 750px){
    .splitter{
        display: flex;
        justify-content: space-between;
    }
    .about-me{
        width: 45%;
    }
    .articles.inverse{
        width: 50%;
    }
    section.inverse{
        background: green;
    }
    /* .articles.inverse a {
        color: currentColor;
    } */

    .articles.inverse .btn {
        color: #fff;
        background-color: #252525;
    }
    
    .articles.inverse .btn:hover {
        color: #252525;
        background-color: #FFF;
    }

    .portfolio{
        background: #252525;
        color:#fff;
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    .portfolio .container{
        max-width: 1250px;
    }

    .work{
        display: flex;
        justify-content: space-between;
    }

    .portfolio-item{
        width: 28%;
    }

    /* .portfolio-item img{
        height: 15em;
        width: 100%;
        object-fit: cover;
    } */
}