
header{
    text-align: center;
}

.nav-list{ /* nav ul */
    border: 1px solid magenta;
    list-style: none;
    padding: 0;
    display: flex;  /* Flex will make row to columns */

    justify-content: center;
    /* width: 3; */
}

.nav-list-item{ /* nav li */
    border: 2px dotted orange;
    margin: 0 1em; /* margin left wight 0 */
}

.nav-item{ /* nav a */
    border: 3px solid greenyellow;
}

.nav a:hover{

}