.divClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divHeader {
    font-size: 3em;
}

.buttonClass {
    border: 1px solid lightgray;
    background-color: transparent;
    padding: 10px;
    border-radius: 4px;   
}

.buttonClass:hover {
    cursor: pointer;
    color: skyblue;
    background-color: black;
}

.buttonClass:focus {
    outline:0;
}