* { box-sizing: border-box; }

body {
    margin: 0;
    background: #2C73D2;
    color: #fff;
    text-align: center;
}

.flex-container {
    border: 10px solid #F9F871;
    width: 80%;
    margin: 0 auto;
    padding: .25em;
    
    display: flex;
}

.flex-item {
    background: #8BEE86;
    margin: .5em;
    padding: .5em;
    color: #424656;
    width: 200px;
}


.flex-item-1{
    background: plum;
    flex-grow: 1;
}

.flex-item-2{
    background: gold;
    flex-grow: 5;
}

.flex-item-3{
    background: gold;
    flex-shrink: 3;
}