.card {
    background: #000;
    color: white;
    width: 560px;
    margin: 0 auto;
    padding: 50px;
}

h1,p{
    margin-top: 0;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

strong{
    background: yellow;
    color: black;
}

.accent-color{
    color: aqua;
}

a{
    color: pink;
}

a:link, a:visited{
    color: #2f21a7;
}
a:hover{
    color: firebrick;
}
a:focus{
    color: aquamarine;
}

a:active{
    columns: plum;
}

.button {
    background: #FFE600;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 15px 30px; /* top bottom: left right = 1:2.5 ratio*/
    text-align: center;
    margin-bottom: 50px;
}
.button:hover{
    background: orange;
}
.links{
    margin-top: 0;
    margin-bottom: 0;
}