body {
    background-color: #FFABAB;
    /* display: flex; */
    justify-content: center;
}

h2 {
    margin-top: 200px; 
    text-align: center;
}

button {
    background-color: #A79AFF;
    border-radius: 5px;
    margin-left: 200px;
}