body {
    margin: 0;
    font-family: monospace;
}

h1, h2, p {
    margin-top: 0;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

a {
    color: #FFE600;
}

header,
section {
    padding: 50px;
}

header {
    background: #FFE600;
    color: #000;
}

.section-one {
    background: black;
    color: white;
}

.section-two-link { 
    color: black;
}


/* button styles */

.btn {
    display: inline-block;
    padding: 12px 25px;
    font-weight: bold;
    text-decoration: none;
}

.btn-accent{
    background: #FFF000;
    color: #000;
}
.btn-dark{
    background: #000;
    color: #fff;
}