* { box-sizing: border-box; }

body {
    margin: 0;
    background: #2C73D2;
    color: #fff;
    text-align: center;
}

.flex-container {
    border: 10px solid #F9F871;
    width: 80%;
    margin: 0 auto;
    padding: .25em;
    
    display: flex;
    flex-direction: column;
}

@media(min-width: 600px){
    .flex-container{
        flex-direction: row;
    }
}

.flex-item {
    background: #8BEE86;
    margin: .5em;
    padding: .5em;
    color: #424656;
    
    width: 200px;
}

.flex-item-1 {
    background: plum;
    flex-basis: 400px;
    /* min-width: 200px;
    max-height: 25px; */
}

.flex-item-2 {
    min-width: 200px;
    max-height: 25px;
}

.flex-item-3 {
    background: #F9F871;
    /* flex: grow shrink basis; */
    /* flex: auto; */
    flex: 2 1 auto;
}