body { }

.App {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #646f74;
}

.date-picker {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.date-picker select {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 16px;
}