body{
    font-size: 16px;
}
h1{
    font-size: 46px;
    color: #2e7ad3;
    text-align: center;
    margin: 45px 0; /* 45px == top,bottom & 0=left,right*/
}
h2{
    font-size: 32px;
    color: #104c90;
    /*margin: 0(top) 0(right) 45px(bottom) 0(left)*/
    margin: 0;
    margin-bottom: 10px;
}
a{
    color: #ff8000;
    font-weight: bold;  
}
a:hover,
a:focus{
    color: #104c90;
}
.blog-post{
    background: #f1f1f1;
    width: 450px;
    padding: 25px;
    margin: 0 auto;
}

.read-more{
    margin: 0;
}