body{
    margin: 0;
    font-size: 21px;
}
/* #myHeader{
    background: red;
    color: green;
} */
h1{
    font-size: 28px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 14px;
}

/* Layout */
header{
    background-color: #588C94;
    color: white;
    padding: 30px 0;
    text-align: center;
}
.intro{
    width: 100%;
    margin: 100px auto;
    text-align: center;
}
.my-skills{
    background-color: #1D3C41;
}